<section class="unit">
<form method="POST" action="//formspree.io/mac.martine@gmail.com">
  <div class="input left">
    <label for="name">Your name</label>
    <input type="text" name="name" id="name" required="" />
  </div>
  <div class="input right">
    <label for="email">Your email address</label>
    <input type="email" name="_replyto" id="email" required="" />
  </div>
  <div class="input">
    <label for="message">What's up?</label>
    <textarea name="message" id="message" required=""></textarea>
  </div>
  <div class="input">
    <input type="submit" value="Let's talk" />
    <input type="hidden" name="_next" value="http://macmartine.com/contact/thanks" />
  </div>
</form>
</section>
