<!--https://codepen.io/imprakash/pen/GgNMXO-->
<div id="contact-popup" class="overlay">
  <div class="popup">

		<h2>Get in touch</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
      <div class="pure-g">
        <div class="pure-u-1-2 text-center">
          <img class="headshot" src="{{ site.imagePath }}/mac-martine.png" alt="Mac Martine">
        </div>
        <div class="pure-u-1-2">
          <p>
            I'm looking forward to helping you. Enter your email address in the field below and click the 'Contact me' button.
          </p>
        </div>
      </div>

      <div class="pure-g">
        <div class="pure-u-1">
          <form action="https://www.getdrip.com/forms/11557496/submissions" method="post" data-drip-embedded-form="11557496">
            <p>
              I'll immediately send you next steps via email. I'll also add you to my insider list, to which I periodically send useful, actionable content.
            </p>
            <!--<h3 data-drip-attribute="headline">Okay</h3>-->
            <!--<div class="sign-up-cta">Sign up below to get immediate access</div>-->
            <div class="inline-form">
               <input type="email" name="fields[email]" value="" placeholder="Email address"/>
               <input type="submit" name="submit" value="Contact me" data-drip-attribute="sign-up-button" class="pure-button" />
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
