 <!-- Resume Section -->
    <section class="success" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Resume</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">
                  <h3 id='background'>Background</h3>

                    <p>I’m a full-stack engineer with extensive experience in Ruby, Rails and Sinatra, infrastructure architectures including AWS and Heroku, as well as various database platforms such as MySQL, Postgres, Mongo and Redis. I’ve also enjoyed dabbling in Node and Meteor.</p>
                    <p>My career highlights in a nutshell: I spent 11 years as a developer in test at Adobe Systems, started my own business and developed my own SaaS app, served as Lead Platform Architect on a SaaS app that was eventually sold in an acqui-hire. I'm currently available for contract work developing Ruby/Rails applications. I'm primarily interested in working with startups and/or on SaaS applications.</p>

                  <br />
                  <br />

                  <h3 id='work_experience'>Work Experience</h3>
                  <h4 id='sr_software_engineer_chirpify'>Senior Software Engineer</h4>
                  <h5>Chirpify <span class="company-link"><a href="http://chirpify.com">http://chirpify.com</a></span></h5>
                  <p><em>April 2014 - October 2015</em></p>

                  <p>Brainstormed, architected and implemented features across a 15+ repository code base, including a Ruby API, PHP API, SDK, frontend, Ruby gems, and more. Interacted with a variety of external API's. Other frameworks and tools included: Sinatra, Rails, Mongo, MySQL and a number of AWS services.</p>

                  <hr />

                  <h4 id='sr_software_engineer_measureful'>Lead Platform Architect</h4>
                  <h5>Measureful <span class="company-link"><a href="http://measureful.com">http://measureful.com</a></span></h5>
                  <p><em>February 2013 - August 2015</em></p>

                  <p>Worked as back-end Rails developer for an app that automates the collection, analysis and presentation of data, transforming it into elegantly designed marketing and client reports. Range of responsibilities included:</p>

                  <ul>
                  <li>Feature design and development, integration with Stripe, managing background jobs, scheduled jobs, automated email reports.</li>

                  <li>Design and development of analyzers for consuming third-party APIs such as Google Analytics, Facebook, Adwords, and more.</li>

                  <li>Oversight of development processes and milestone management.</li>

                  <li>Interfacing with customers.</li>
                  </ul>

                  <hr />

                  <h4 id='founder_cycle7'>Founder, developer</h4>
                  <h5>Cycle7</h5>
                  <p><em>July 2011 - February 2013</em></p>

                  <p>I Founded and launched the start-up Cycle7, and created my first SaaS app, Evergreen appointment scheduling software. Google Chrome featured Evergreen on its Chrome Web Store homepage and business section for multiple months. My responsibilites included:</p>

                  <ul>
                  <li>Market research.</li>

                  <li>Design and development of the app from the ground up, in Ruby on Rails.</li>

                  <li>Building the website.</li>

                  <li>Writing all marketing copy and leading all marketing efforts
                   created Evergreen appointment scheduling software. The Evergreen effort was entirely mine since day 1.</li>
                  </ul>

                  <p>Also noteworthy: The Google Chrome store chose to feature Evergreen on the Chrome Web Store homepage and business section for many months.</p>

                  <hr />

                  <h4 id='developer_for_testing_flash_builderflex_mobile_at_adobe'>Developer for Testing: Flash Builder/Flex Mobile</h4>
                  <h5>Adobe Systems<span class="company-link"><a href="http://adobe.com">http://adobe.com</a></span></h5>
                  <p><em>2005 - July 2011</em></p>

                  <ul>
                  <li>Write and debug tests in multiple test frameworks, environments and devices, in Actionscript, Java, XML.</li>

                  <li>Debug software defects for owned features areas.</li>

                  <li>Execute test cases, with a meticulous attention to detail, for all areas of the product.</li>

                  <li>Design and implement &#8220;real-world&#8221; Flex demos.</li>

                  <li>Design features and write detailed feature and test specifications.</li>

                  <li>Work closely with designers on UI, and with engineers on implementation.</li>

                  <li>Interact with customers.</li>
                  </ul>

                  <hr />

                  <h4 id='white_box_engineer_premiere_pro_at_adobe_systems'>White Box Engineer: Premiere Pro</h4>
                  <h5>Adobe Systems<span class="company-link"><a href="http://adobe.com">http://adobe.com</a></span></h5>
                  <p><em>November 2004 - October 2005</em></p>

                  <ul>
                  <li>Wrote 50+ white box color conversion tests in C.</li>

                  <li>Design, document and execute test plans and test cases.</li>
                  </ul>

                  <hr />

                  <h4 id='designerprogrammer_at_freelance'>Designer/Programmer</h4>
                  <h5>Freelance<span class="company-link"><a href="http://macmartine.com">http://macmartine.com</a></span></h5>
                  <p><em>1999 - 2005</em></p>

                  <ul>
                  <li>Developed websites using Flash, ActionScript, HTML, ASP, MySQL, PHP, SQL, XML, XSL and JavaScript.</li>

                  <li>Graphic design for web and print.</li>

                  <li>Interface with clients.</li>
                  </ul>

                  <hr />

                  <h4 id='quality_assurance_engineer_photoshop_albumphotoshop_elements_at_adobe_systems'>Quality Assurance Engineer: Photoshop Album/Photoshop Elements</h4>
                  <h5>Adobe Systems<span class="company-link"><a href="http://adobe.com">http://adobe.com</a></span></h5>
                  <p><em>February 2002 - November 2004</em></p>

                  <ul>
                  <li>Work closely with Engineers and other product groups throughout entire product lifecycle to ensure highest quality software for the first 3 versions of Photoshop Album.</li>

                  <li>Design, develop and implement automated test tools using various scripting languages as well as applications such as Winrunner, Rational Robot and MacroScheduler.</li>

                  <li>Design, document and execute test plans and test cases.</li>

                  <li>Round trip testing with a large number of various mobile devices.</li>

                  <li>System Administration for Red Hat Linux and Windows operating systems.</li>

                  <li>Webmaster for internal Photoshop Album website, which includes several ASP/SQL database applications for storing test data.</li>

                  <li>Worked with Director of Engineering on creating SVG demos to successfully influence executive decisions regarding use of SVG technology in Photoshop Album.</li>
                  </ul>

                  <hr />

                  <h4 id='quality_assurance_engineer_scalable_vector_graphics_at_adobe_systems'>Quality Assurance Engineer: Scalable Vector Graphics</h4>
                  <h5>Adobe Systems<span class="company-link"><a href="http://adobe.com">http://adobe.com</a></span></h5>
                  <p><em>October 2000 - February 2002</em></p>

                  <ul>
                  <li>Created animation and other interactive demos using SVG and JavaScript.</li>

                  <li>Tested interoperability of SVG with several other Adobe products.</li>

                  <li>Developed assignment, status report and test suite management databases using ASP, VBscript and SQL. * Webmaster for internal SVG website.</li>

                  <li>Developed demos using Adobe Altercast (now Adobe Document Server), which were presented at XML Conference and Expedition 2001. Created ASP and JSP/JAVA versions for each demo. Skills &amp; Expertise Online Marketing HTML Flex Online Advertising XML ActionScript</li>
                  </ul>
                  <hr />
                  <h3 id='education'>Education</h3>

                  <p>University of Oregon, Bachelor of Science</p>

                </div>
            </div>
        </div>
    </section>
