.page-title, .page-description {
  color: #333;
}
.btn {
  margin-top: 20px;
  background-color:#eaa527;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:22px;
  padding:10px 22px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2b665e;
}
.btn:hover {
  background-color:#6c7c7c;
}
.btn:active {
  position:relative;
  top:1px;
}
                                    
blockquote img {
	width: 75px;
	border-radius: 100%;
}

blockquote {
  font-style: italic;
}

.case-study-screenshot img {
	max-width: 750px;
}

h2 {
	margin-top: 100px;
	margin-bottom: 50px;
}

h4 {
	margin-bottom: 20px;
}

h3 {
  line-height: 40px;
}

span {
  color: #df3424;
}
