// Mixins
// ------

// Bars
// --------------------------
@mixin bar($color, $width: narrow) {
	display: block;
	height: $borderThickness;
	margin-right: auto;
	margin-left: auto;
	background-color: $color;
	@if $width == "narrow" {
		width: 4em;
	}
	@else {
		width: 6.4em;
	}
}
