// Source Code Pro
// ---------------

@font-face {
	font-family: "source-code-pro";
	src: url('../fonts/SourceCodePro-Regular.woff2') format('woff2'),
			 url('../fonts/SourceCodePro-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
