
div.aside {
	margin: 3em 0;
}

.case-study-logo img {
	max-width: 80%;
}

.case-study-screenshot img {
	width: 80%;
}

/*Helpers*/

.text-center {
  text-align: center;
}

/*.table-cell {*/
	/*display: table-cell;*/
/*}*/

.home-cta-image {
	padding-top: 1.5em;
}

/*.flex {*/
	/*display: flex;*/
/*}*/

/*.text-left {*/
  /*text-align: left;*/
/*}*/

/*.text-right {*/
  /*text-align: right;*/
/*}*/

.block {
  display: block;
}

.small {
	font-size: $epsilon;
	text-transform: none;
}

.bg-1 {
	background-color: $blue;
}

.padded-box {
	padding: 1em;
}

/*.lightly-padded-box {*/
	/*padding: 0.5em;*/
/*}*/

.a-plain {
	box-shadow: none;	
}

ul.bullets {
	list-style-type: square;
	li {
		margin-left: 1em;
	}
}

/*Components*/

body {
  padding-top: 2em;
	font-size: 22px;
}

hr {
	border-top: 1px solid $blueLight;
}

input[type=email] {
	margin: 1em 0;
	/*width: 15em;*/
	/*max-width: 90%;*/
	padding: 0.21em 1em;
}

button, input, select, textarea {
	max-width: 100%;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	font-family: 'Karla', Times, "Times New Roman", serif;
  font-size: $gamma;
	line-height: $baseLineHeight;
  color: $grayDark;
  font-weight: 100;
  letter-spacing: 0.01em;
}

ul {
	list-style: none;
	padding-left: 0;
}

blockquote.aside {
	font-size: $beta;
	border-top: 2px solid $orangeLight;
	padding-bottom: 0;
	margin: 2em 0;
}

blockquote {
	font-size: $delta;
	font-style: italic;
	padding: 0 $horizontalSpace $verticalSpace ($horizontalSpace / 2);
	border-bottom: 2px solid $blueLight;
	img {
		border-radius: 50%;
		width: 75px;
		/*vertical-align: middle;*/
		float: left;
		margin-right: 14px;
	}
	em {
		font-style: normal;
	}
}

h1 { font-size: $alpha; }
h2 { font-size: $beta; }
h3 { font-size: $gamma; }

h1, h2, h3 {
	color: $orange;
  text-transform: uppercase;
  line-height: 1em;
	font-weight: 100;
	margin: ($verticalSpace / 2) 0;
  a {
    text-decoration: none;
  }
}

a {
  color: $grayDark;
	text-decoration: none;
	transition: .1s color ease-out,.1s box-shadow ease-out;
	box-shadow: inset 0 -1px 0 0 $linkUnderlineColor;
	&:hover {
		color: $blue;
	}
}

/*PureCSS modifications*/

.pure-g {
	margin: 0.2em 0;
}

.pure-button {
	border-radius: 5px;
	/*background-color: $orangeLight;*/
}

/*Classes*/

.footer {
	margin: 2em 0 4em 0;
	ul {
		margin-bottom: 0;
		li {
			display: inline;
		}
		a {
			text-decoration: none;
			vertical-align: middle;
			text-transform: uppercase;
			font-size: $epsilon;
		}
	}
	& li:not(:first-child):before {
		content: "•";
		font-size: 80%;
		padding: 0 5px;
	}
}

.totem {
	height: 2em;
}

.header, .content, .footer {
  padding-left: 3em;
  padding-right: 3em;
}

.header {
  margin-bottom: 1em;
	a {
		font-size: 1em;
		box-shadow: none;
	}
}

.content {
  margin-left: auto;
  margin-right: auto;
}

.headshot {
  width: 3.2em;
}

.reading-list-item img {
	width: 3.5em;
}

img {
	max-width: 80%;
}

.resource-item img {
	width: 15em;
	/*max-width: 80%;*/
}

.resource-aside {
	& > div {
		position: relative;
	}
	min-height: 13em;
}

/*Popups*/

.popup img {
	width: 200px;
}

.popup {
	width: 650px;
  max-width: 80%;
  background-color: $blue;

  margin: 70px auto;
  padding: 20px;

	/*top: 50%;*/
	/*left: 50%;*/
	/*margin-top: -200px;*/
	/*margin-left: -250px;*/
  padding: 20px;
  border-radius: 5px;
	position: relative;
  /*position: absolute;*/
  transition: all 5s ease-in-out;
	h2 {
		margin-top: 0.1em;
	}
	.close {
		position: absolute;
		top: 10px;
		right: 30px;
		transition: all 200ms;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #333;
	}
	.close:hover {
		color: #06D85F;
	}
	.content {
		overflow: auto;
		padding: 14px;
		background-color: $white;
		font-size: $delta;
		.home-cta {
			padding-top: 20px;
		}
		.headshot {
			width: 6em;
		}
		form {
			padding-bottom: 0;
		}
		img {
			margin-top: 14px;
		}
	}
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

